:root {
  --color-top-grey: #ecf0f3;
  --color-shadow-grey: #d1d9e6;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}
::selection {
  background-color: var(--color-shadow-grey);
}
.movie {
  box-sizing: border-box;
  max-width: 550px;
  background-color: var(--color-top-grey);
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  box-shadow: 18px 18px 30px 0px rgba(209, 217, 230, 1);
}
.movie__info {
  box-shadow: inset 18px 18px 30px 0px rgba(209, 217, 230, 1);
  padding: 1rem;
  border-radius: 0.5rem;
}
.movie__rating {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 18px 18px 30px 0px rgba(209, 217, 230, 1);
  grid-column-start: -3;
  grid-column-end: -1;
}
.movie--poster {
  border-radius: 0.75rem;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
}
.reviewForm textarea {
  width: 96%;
  max-width: 96%;
  padding: 0.5rem;
  border-color: lightgrey;
  border-radius: 0.5rem;
  background-color: var(--color-top-grey);
  box-shadow: 18px 18px 30px 0px rgba(209, 217, 230, 1);
}
.reviewForm__buttons {
  width: fit-content;
  margin: auto;
}
.reviewForm button {
  position: relative;
  margin: 0.5rem auto;
  border: none;
  color: grey;
  box-shadow: 18px 18px 30px 0px rgba(209, 217, 230, 1);
  border: 1px solid lightgrey;
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}
.reviewForm button:hover {
  transition: all 0.1s ease-out;
  background-color: white;
}

.searchbar form {
  background-color: var(--color-top-grey);
  box-shadow: 18px 18px 30px 0px rgba(209, 217, 230, 1);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 75% 1fr;
  column-gap: 0.5rem;
  margin-bottom: 2rem;
}
.searchbar input[type="text"] {
  border: 1px solid lightgrey;
}
.searchbar button {
  border: 1px solid lightgrey;
  color: grey;
}
.reviewList {
  grid-column-start: -3;
  grid-column-end: -1;
}
.review {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 18px 18px 30px 0px rgba(209, 217, 230, 1);
  display: grid;
  grid-template-columns: 80% 1fr;
}
.review p {
  background-color: var(--color-top-grey);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  box-shadow: 18px 18px 30px 0px rgba(209, 217, 230, 1);
}
button {
  border: 1px solid lightgrey;
  border-radius: 0.5rem;
  color: grey;
}
