.movie {
  box-sizing: border-box;
  max-width: 500px;
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.movie__rating {
  grid-column-start: -3;
  grid-column-end: -1;
}
.movie--poster {
  border-radius: 0.75rem;
}
